.list {
  padding: 9px;
  width: 11.3em;
  position: absolute;
  z-index: 100;
  background-color: #fff;
  right: 0;
}

.list ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.list button {
  background: none;
	color: inherit;
	font: inherit;
	border: none;
	cursor: pointer;
  line-height: 25px;
  width: 100%;
  text-align: left;
}

.list button:hover {
  background-color: rgb(248, 248, 248);
}

.list button:active {
  transform: translateY(1px);
}
